bazel-*
*.env
.idea
.DS_Store
.config
ledger/.data

ui/node_modules
ui/package-lock.json
ui/pnpm-lock.yaml
k8s/secret.yaml

fava/frontend/node_modules
fava/frontend/package-lock.json
fava/src/fava/static
