bazel-*
*.env
.idea
.DS_Store

go/pkg/auth/pb/auth.pb.go
go/pkg/auth/pb/auth_grpc.pb.go

go/pkg/auth/db/db.go
go/pkg/auth/db/models.go
go/pkg/auth/db/querier.go
go/pkg/auth/db/users.sql.go

go/pkg/tinkgw/pb/tinkgw.pb.go
go/pkg/tinkgw/pb/tinkgw_grpc.pb.go

go/pkg/tinkgw/db/db.go
go/pkg/tinkgw/db/models.go
go/pkg/tinkgw/db/querier.go
go/pkg/tinkgw/db/users.sql.go

.config
.ijwb
