*.env
.idea
.DS_Store

k8s/secret.yaml

ui/node_modules
ui/package-lock.json
ui/build

fava/frontend/node_modules
fava/frontend/package-lock.json
fava/src/fava/static

proto/*.py
proto/*.go

fava/src/.data
go/ledger/.data
